
@media screen and (min-width:481px) {
	/* ここにパソコン版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
    width: 100%;
    height: 200px;
    background-color: red;
}

}

@media screen and (max-width:480px) {
	/* ここにスマホ版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


}