
@media screen and (min-width:481px) {
	/* ここにパソコン版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
  width: 100%;
  height: 50px;
  background-color:#F0BF4C;
}

.header-logo{
  width: 800px;
  height: 50px;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 14px
}

.sub-header{
  width: 100%;
  height:30px;
  background-color: green;
}

.header-menu{
  width: 800px;
  height: 50px;
  margin: 0 auto;
}

.alert{
    width:800px;
    height: 100px;
    text-align: center;
    background-color: green;
    margin: auto;
}

.contents{
    width: 100%;
    height: 480px;
    background-color: red;
    margin: 0 auto;
}

.name,.type{
    width: 800px;
    height: 80px;
    margin: 0 auto;
    font-size:20px;
    background-color: blue;
}

.detail{
    width: 800px;
    height: 320px;
    margin: 0 auto;
    font-size:20px;
    background-color: blue;
}

.footer{
  width: 100%;
  height: 100px;
}

.back,.logout{
  width:800px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

}

@media screen and (max-width:480px) {
	/* ここにスマホ版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


}