
@media screen and (min-width:481px) {
	/* ここにパソコン版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
  width: 100%;
  height: 100px;
}

.header-logo{
  width: 400px;
  height: 100px;
  background-color: orange;
  padding: 20px 0px;
  margin: 0px 250px;
}

.body{
  width: 100%;
  height: 1500px;
}

.form{
 width: 800px;
 height: 800px;
 background-color: orange;
}


}

@media screen and (max-width:480px) {
	/* ここにスマホ版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



}