
@media screen and (min-width:481px) {
	/* ここにパソコン版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
  width: 100%;
  height: 100px;
  background-color: #F1F5F8;
}

.header-logo{
  width: 500px;
  height: 100px;
  padding: 20px 0px;
  margin: 0px 300px;
  color: #52A0A8;
}

.body{
  width: 100%;
  height: 1000px;
}

.form-main{
  width: 600px;
  height: 510px;
  margin: 0px auto;
}

.alert{
  width: 600px;
  height: 150px;
  font-size: 18px;
}

.form{
  width: 600px;
  height: 300px;
}

.form-email,.form-password,.form-button{
  width: 600px;
  height: 100px;
  padding: 0px 210px;
  text-align: center;
}

.register,.guestLoginButton{
  width: 600px;
  height: 200px;
  margin: 0px auto;
}

.box1,.box2{
  width: 600px;
  height: 100px;
  text-align: center;
}

.box2{
  padding: 0px 230px;
}

.box3{
  height: 600px;
  height: 50px;
  text-align: center;
}

.box4{
  width: 600px;
  height: 80px;
  padding: 0px 220px;
}

.box5{
  width: 300px;
  height: 100px;
  margin: 0px auto;
}

.btn01{
  text-decoration: none;
  background-color: #F1F5F8;
  color: #4EAEB5;
  border: 3px solid #4EAEB5;
  border-radius: 30px;
  width: 140px;
  height: 50px;
}

.btn01:hover{
  background-color: #4EAEB5;
  color: white;
}

.btn02{
 display:block;
 text-align: center;
 padding: 10px 0px;
 width: 150px;
 height: 50px;
 border-radius:30px;
 background-color: #F1F5F8;
 color: #4EAEB5;
 border: 3px solid #4EAEB5;
 text-decoration: none;
}

.btn02:hover{
  background-color: #4EAEB5;
  color: white;
}

.btn03{
  width: 150px;
  height: 35px;
  background-color: #D9594B;
  color: white;
  border-radius:10px;
  cursor:pointer;
}

.btn04{
  text-decoration: none;
  background-color: #F1F5F8;
  color: #4EAEB5;
  border: 3px solid #4EAEB5;
  border-radius: 30px;
  width: 140px;
  height: 50px;
  margin: 0px auto;
}

.btn04:hover{
  background-color: #4EAEB5;
  color: white;
}

.btn04{
  display: block;
  width: 150px;
  height: 40px;
  background: #52A0A8;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius:10px;
  padding: 8px 0px;
  margin: 0px 85px;
}

.btn04:hover{
  color: white;
}

.footer{
  width: 100%;
  height: 150px;
}

}

@media screen and (max-width:480px) {
	/* ここにスマホ版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



}