@media(max-width:990px){

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 200px
}

.main{
  width: 100%; /* 横幅いっぱい */
  height: 440px;
}

.main-content{
  width: 900px; /* 横幅650px */
  height: 440px;/* 親の高さに揃える */
  background-color: white;
  margin: 0 auto; /* 真ん中に寄せる */
  text-align: center;
}

}

@media(max-width:400px){

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .main{
  width: 100%; /* 横幅いっぱい */
  height: 70%;
  }

  .header{
    height: 200px;
  }

  h1{
    font-size: 300%;
  }

  .form-main{
    font-size: 250%;
  }

  button {
  width: 50%;
  height: 100%;
  font-size: 50%;
  }

  a{
    font-size: 300%;
  }

}