* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    width: 100%;
    height:50px;
    background-color:#F0BF4C;
    font-size: 14px;
}

.header-logo{
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 10px;
}

@media(max-width:600px){

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }



}