@media screen and (min-width:481px) {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    width: 100%;
    height:50px;
    background-color:#F0BF4C;
    font-size: 14px;
}

.header-logo{
    height: 300px;
    padding-top: 5px;
    padding-left: 300px;
    padding-bottom: 10px;
}

.body{
  background-color: white;
  width: 100%;
  height: 740px;
}

.body-logo{
  font-size: 14px;
  padding-top: 5px;
  padding-left: 300px;
  padding-bottom: 10px;
}

.button{
  display: flex;
}

.archive-button{
  width: 300px;
  height: 300px;
  background-color: green;
  margin-left: 400px;
  margin-top:60px;

}

.btn01{
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 250px;
	height: 180px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	border-radius: 100vh;
	transition: 0.5s;
	margin-top: 100px
}


.list-button{
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-top:60px;
  background-color: white;
}

.footer{
  text-align: center;
}

}



@media(max-width:600px){

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }



}