* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
    width: 100%; /* 横幅いっぱい */
    height: 840px;
    background-color: orange; /* 背景色orange */
}

.section-text{
  width: 900px; /* 横幅650px */
  height: 840px;/* 親の高さに揃える */
  background-color: white;
  margin: auto; /* 真ん中に寄せる */
  text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}