
@media screen and (min-width:481px) {
	/* ここにパソコン版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header{
    background-color: #F1F5F8;
    width: 100%;
    height: 150px;
    display: flex; /* Flexboxを設定 */
    flex-wrap: wrap; /* 子要素が親要素の横幅いっぱいに配置されたら改行し、下に配置し始める設定 */
  }

  .header1{
    background-color: green;
    height: 90px;
    width: 90px;
    margin-left: 100px;
  }

  .header2{
    background-color: red;
    height: 90px;
    width: 300px;
  }

  .header3{
    background-color: orange;
    height: 90px;
    width: 600px;
    display: flex; /* Flexboxを設定 */
    flex-wrap: wrap; /* 子要素が親要素の横幅いっぱいに配置されたら改行し、下に配置し始める設定 */
    margin-left: 400px;
  }

  .sub1{
    width: 200px;
    height: 90px;
    background-color:blue;
  }

  .sub2{
    height: 90px;
    width: 200px;
    background-color: green;
  }

  .sub3{
    height: 90px;
    width: 200px;
    background-color: red;
  }

  .headline-txt{
    width: 500px;
    height: 50px;
    text-align: center;
    margin: 0 500px;
    padding: 10px;
  }

  .headline-btn{
    width: 100%;
    height: 100px;
    background-color: orange;
    display: flex; /* Flexboxを設定 */
    flex-wrap: wrap; /* 子要素が親要素の横幅いっぱいに配置されたら改行し、下に配置し始める設定 */
  }

  .login-btn{
    width: 50%;
    height: 100px;
    text-align: center;
    font-size: 20px;
    border:3px solid #333
  }

  .guestLoginButton1{
    width: 50%;
    height:100px;
    text-align: center;
    font-size: 20px;
    border:3px solid #333
  }

  .btn01{
    width: 200px;
    height: 50px;
    background-color: #D9594B;
    color: white;
    border-radius:10px;
  }

  .about{
  width: 100%;
  height:800px;
  background-image: url(../storage/iso-republic-plated-tacos.jpg);
  background-size: cover;
  color: #5CADB2;
  }

  .sub-about{
    /*width: 1200px;*/
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: orange;
    display: flex; /* Flexboxを設定 */
    flex-wrap: wrap; /* 子要素が親要素の横幅いっぱいに配置されたら改行し、下に配置し始める設定 */
  }

  .sub-icon_1,.sub-icon_2,.sub-icon_3{
    width: 300px;
    height: 600px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 18px;
    border:1px solid #333;

  }

  .icon1,.icon2,.icon3{
    margin: 50px;
    padding: 10px;
    background-color: orange;
  }

  .sub-text{
    /*width: 1200px;*/
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background-color: orange;
    display: flex; /* Flexboxを設定 */
    flex-wrap: wrap; /* 子要素が親要素の横幅いっぱいに配置されたら改行し、下に配置し始める設定 */
  }

  .textarea_1,.textarea_2,.textarea_3{
    width: 300px;
    height: 150px;
    margin:5px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: orange;
    text-align: center;
  }

  .body{
    width: 100%;
    height:450px;
    background-color: orange;
    display: flex; /* Flexboxを設定 */
    flex-wrap: wrap; /* 子要素が親要素の横幅いっぱいに配置されたら改行し、下に配置し始める設定 */
  }

  .box1{
    width: 50%;
    height: 450px;
  }

  .box2{
    width: 50%;
    height: 450px;
    /*background-color: blue;*/
  }

  .form-main{
    width: 50%;
  }

  .alert{
    height: 100px;
    background-color: red;
    text-align: center;
  }

  .form{
    height: 150px;
    background-color: blue;
    text-align: center;
    padding-top: 0px;
  }

  .register{
    height: 200px;
    background-color: green;
    text-align: center;
  }

  .login-btn-ft{
    width: 50%;
    height:450px;
    background-color: orange;
  }

  .lp-page{
    width: 400px;
    height: 200px;
    text-align: center;
    padding: 40px;
    margin: 80px auto;
    font-size: 16px;
    border:3px solid #333;
  }

  .lg-btn{
    font-size: 28px;
  }

  .guestLoginButton2{
    width: 400px;
    height: 200px;
    /*background-color: green;*/
    text-align: center;
    padding: 40px;
    margin: 80px auto;
    font-size: 16px;
    border:3px solid #333
  }



}

@media screen and (max-width:480px) {
	/* ここにスマホ版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header{
    width: 100%;
    height: 70px;
  }

  .header-logo{
   width: 300px;
   height: 50px;
   margin-top: 10px;
   padding-top: 10px;
  }



}