
@media screen and (min-width:481px) {
	/* ここにパソコン版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main1{
    width: 100%;
    height:1500px;
    padding: 50px 350px;
    background-color: #F1F5F8;
}

.form{
  width: 800px;
  height: 700px;
  box-shadow:  1px 1px 5px black;
}

.header{
    width: 100%;
    height:80px;
    background-color: #F1F5F8;
    font-size: 14px;
    padding: 10px 0px 0px 200px;
}

.header-logo{
    width: 300px;
    height: 60px;
    background-color: green;
    padding: 10px;
}

.sub-header{
    width: 100%;
    height:50px;
}

.register-form-logo{
    width: 800px;
    height: 100px;
    background-color: #4EAEB5;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.session{
    color: red;
    width:968px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding-top:20px;
    font-size: 18px;
}

.session img{
    max-width: 100%;
    height: auto;
}

.regsiter-main-form{
    width: 800px;
    height: 550px;
    text-align: center;
    padding-top: 30px;
}

.list-form{
    width: 100%;
    height:800px;
    background-color: green;
}

.list-form-logo{
    width: 300px;
    height: 50px;
    padding: 10px 55px;
    margin: 0px 600px;
    background-color: white;
}

.list-view{
    width: 900px;
    height: 300px;
    margin:  50px 300px;
    background-color: white;
}

.list-button{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: orange;
}

th,td{
    width: 200px;
    height: 50px;
}

th{
    background-color: orange;
}


.complete-list-btn{
    text-align: center;
    width: 900px;
    height: 50px;
    margin-left: 300px;
    margin-right: 300px;
}


.footer{
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 10px;
}

button {
  width: 6em;
  height:4em;
}


.a_main{
  width: 100%;
  height: 1000px;
  background-color: #F1F5F8;
  padding: 50px 350px;
}

.a_form{
  width:800px;
  height: 850px;
  background-color: white;
  box-shadow: 0px 5px 15px 0px black;
}

.a_logo{
    width: 800px;
    height: 100px;
    background-color: #4EAEB5;
    color: white;
    padding: 30px 300px;
}
.c1{
    width: 100%;
    height: 150px;
    padding-top: 30px;
}

.c2{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.c3{
    width: 100%;
    height: 400px;
}

.c4{
    width: 100%;
    height: 100px;
    padding: 10px 350px;
}

.c1,.c2,.c3{
  text-align: center;
  font-size: 18px;
}

.recipe-name{
 width: 400px;
 height: 40px;
 text-align: center;
 font-size: 16px;
}

textarea{
 resize: none;
 width: 600px;
 height: 300px;
 font-size: 30px;
}


}

@media screen and (max-width:480px) {
	/* ここにスマホ版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


}