
@media screen and (min-width:481px) {
	/* ここにパソコン版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header{
    background-color: green;
    width: 100%;
    height: 50px;
  }

  .header-logo{
    color: red;
    background-color: blue;
    width: 390px;
    height: 40px;
    margin-left: 10%;
  }

  .about{
  width: 100%;
  height:800px;
  background-image: url(/recipemaster/public/storage/iso-republic-plated-tacos.jpg);
  background-size: contain;
  }


}

@media screen and (max-width:480px) {
	/* ここにスマホ版だけの記述 */
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


}